<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        td{font-size: 30px}
        th{font-size: 32px}
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ChampionShip</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${races.size()>0}" th:each="i : ${#numbers.sequence(0, races.size()-1)}">
        <td th:utext="${@championshipService.championships.get(races.get(i).getChampionship())}"></td>
        <td th:utext="${races.get(i).getName()}"></td>
        <td th:utext="${races.get(i).getLocation()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>